*{
    background-color: #e5e5e5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32;
    line-height: 150%;
    margin: 0;
}

body{
    height: 100vh;
}
.logAlura {
    margin-left: 40px;
    padding-top: 30px;
    width: 2%
}
main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color:#0A3871;
    margin-top: 30px;
    text-transform: lowercase;    
}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
        
    }

    .mensagem {
        background: #ffff;
        background-image: url(/Imagens/imagemMenina.png);
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        font-size: 32px;
        margin-left: 95px;            
        padding-left: 20px;        
        position: fixed;
        height: 400px;
    }
    .mensagem:focus{
        outline: none;
    }

    .botoes{
        display: flex;
        margin-top: 185px;
        margin-bottom: 10px;
    }
    .btn-desencriptar {
        background:#D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 16px;
        color:#0A3871;
        cursor: pointer;
        margin-top: 5px;
        margin-left: 30px;
        height: 67px;
        width: 328px;         
    }

    .btn-encriptar {
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 16px;
        color: #ffff;
        cursor: pointer;
        margin-top: 5px;
        height: 67px;
        width: 328px;
    }

    .btn-copiar {
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 16px;
        color: #0A3871;
        cursor: pointer;
        height: 67px;
        margin-top: 320px;
        margin-left: 108px;
        position: absolute;
        width: 336px;
    }
    
    .informacao{
        color: #495057;
        font-size: 15px;
        margin-bottom: 0px;
        
    }
    .rodape{
        background-color: #495057; 
        color: #D8DFE8;
        font-family: "Dancing Script", cursive;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        
    }
   